:root {
  --background: url("../../images/stars.jpg");
  --background-repeat: no-repeat !important;
  --background-size: cover !important;
  --primary-color: #663926;
  --secondary-color: #C67B5C;
  --tertiary-color: #3d2117;
}

[color-theme=dark] {
  --background: black;
  --primary-color: #3f3f3f;
  --secondary-color: #8a8a8a;
  --tertiary-color: #1f1f1f;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

body {
  cursor: default;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

.blur main > * {
  filter: blur(0.2rem);
}
.blur main .popup {
  filter: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

input:focus, textarea:focus {
  outline: white solid 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25rem grey;
  border-radius: 5rem;
  background-color: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

:root {
  --background: url("../../images/stars.jpg");
  --background-repeat: no-repeat !important;
  --background-size: cover !important;
  --primary-color: #663926;
  --secondary-color: #C67B5C;
  --tertiary-color: #3d2117;
}

[color-theme=dark] {
  --background: black;
  --primary-color: #3f3f3f;
  --secondary-color: #8a8a8a;
  --tertiary-color: #1f1f1f;
}

.spinner-wave-in {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3.125px solid hsl(142deg, 10%, 75%);
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-wave-in {
  box-shadow: inset -1.5625px -1.5625px 0 1.5625px var(--secondary-color);
}

:root {
  --background: url("../../images/stars.jpg");
  --background-repeat: no-repeat !important;
  --background-size: cover !important;
  --primary-color: #663926;
  --secondary-color: #C67B5C;
  --tertiary-color: #3d2117;
}

[color-theme=dark] {
  --background: black;
  --primary-color: #3f3f3f;
  --secondary-color: #8a8a8a;
  --tertiary-color: #1f1f1f;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

body {
  cursor: default;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

.blur main > * {
  filter: blur(0.2rem);
}
.blur main .popup {
  filter: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

input:focus, textarea:focus {
  outline: white solid 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25rem grey;
  border-radius: 5rem;
  background-color: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

:root {
  --background: url("../../images/stars.jpg");
  --background-repeat: no-repeat !important;
  --background-size: cover !important;
  --primary-color: #663926;
  --secondary-color: #C67B5C;
  --tertiary-color: #3d2117;
}

[color-theme=dark] {
  --background: black;
  --primary-color: #3f3f3f;
  --secondary-color: #8a8a8a;
  --tertiary-color: #1f1f1f;
}

:root {
  --background: url("../../images/stars.jpg");
  --background-repeat: no-repeat !important;
  --background-size: cover !important;
  --primary-color: #663926;
  --secondary-color: #C67B5C;
  --tertiary-color: #3d2117;
}

[color-theme=dark] {
  --background: black;
  --primary-color: #3f3f3f;
  --secondary-color: #8a8a8a;
  --tertiary-color: #1f1f1f;
}

a {
  text-decoration: none;
}

nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: black solid;
  background-color: var(--primary-color);
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  font-size: 1.7rem;
  margin-bottom: auto;
  margin-top: auto;
}
nav ul li a {
  font-family: Arial, sans-serif;
  color: hsl(142deg, 10%, 75%);
}
nav ul li .icon {
  color: hsl(142deg, 10%, 75%);
}
nav ul li:nth-child(7) a {
  border-bottom: hsl(142deg, 10%, 75%) solid;
}
nav ul li:first-child img {
  width: 5rem;
}
nav ul .icon {
  font-size: 4rem;
}
nav ul .selected {
  font-weight: bold;
}
nav ul .selected a {
  color: var(--secondary-color);
}

.hover-underline-animation {
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes fade-inout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes slidein {
  from {
    transform: translateX(-3rem);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
:root {
  --background: url("../../images/stars.jpg");
  --background-repeat: no-repeat !important;
  --background-size: cover !important;
  --primary-color: #663926;
  --secondary-color: #C67B5C;
  --tertiary-color: #3d2117;
}

[color-theme=dark] {
  --background: black;
  --primary-color: #3f3f3f;
  --secondary-color: #8a8a8a;
  --tertiary-color: #1f1f1f;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

body {
  cursor: default;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

.blur main > * {
  filter: blur(0.2rem);
}
.blur main .popup {
  filter: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

input:focus, textarea:focus {
  outline: white solid 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25rem grey;
  border-radius: 5rem;
  background-color: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

:root {
  --background: url("../../images/stars.jpg");
  --background-repeat: no-repeat !important;
  --background-size: cover !important;
  --primary-color: #663926;
  --secondary-color: #C67B5C;
  --tertiary-color: #3d2117;
}

[color-theme=dark] {
  --background: black;
  --primary-color: #3f3f3f;
  --secondary-color: #8a8a8a;
  --tertiary-color: #1f1f1f;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 35%;
  width: 40%;
  overflow: auto;
  background-color: var(--secondary-color);
  border: 0.3rem solid var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 2rem 0px black;
}
.popup h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.popup p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}
.popup br {
  display: block;
  content: "";
  margin-top: 0.5rem;
}
.popup .close {
  position: absolute;
  font-size: 2rem;
  top: 0.8rem;
  right: 0.5rem;
}

.slide-in {
  opacity: 0;
  transform: translateY(-100%);
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  to {
    display: block;
    opacity: 1;
    transform: translateY(0%);
  }
}
.slide-out {
  display: block;
  opacity: 1;
  transform: translateY(0%);
  animation: slideOut 0.5s ease-in-out forwards;
}

@keyframes slideOut {
  to {
    z-index: -1;
    display: none;
    opacity: 0;
    transform: translateY(100%);
  }
}
body {
  background: var(--background);
  font-family: Arial, sans-serif;
}
body main #statistics {
  text-align: center;
  margin-top: 2rem;
  margin-right: 4rem;
  margin-left: 4rem;
  position: relative;
}
body main #statistics .help {
  position: absolute;
  color: hsl(142deg, 10%, 75%);
  top: 1.2rem;
  right: 2rem;
}
body main #statistics h1 {
  font-family: Arial, sans-serif;
  color: hsl(142deg, 10%, 75%);
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--tertiary-color);
  border-radius: 2rem 2rem 0 0;
}
body main #statistics #container_statistics {
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 0 0 2rem 2rem;
}
body main #statistics #container_statistics aside {
  width: 25%;
  padding-top: 1rem;
  background-color: var(--primary-color);
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 2rem 0px black;
}
body main #statistics #container_statistics aside .dropbtn {
  background-color: var(--secondary-color);
  color: black;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
body main #statistics #container_statistics aside .dropdown-content {
  display: none;
  position: absolute;
  width: 9rem;
  z-index: 1;
}
body main #statistics #container_statistics aside .dropdown-content p {
  color: black;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  display: block;
  background-color: var(--secondary-color);
}
body main #statistics #container_statistics aside .dropdown:hover .dropdown-content {
  display: block;
}
body main #statistics #container_statistics aside .dropdown:hover .dropbtn {
  background-color: #ccc;
}
body main #statistics #container_statistics aside select {
  background-color: var(--secondary-color);
  border: 1px solid black;
  border-radius: 0.75rem;
  color: #333333;
  font-size: 1rem;
  padding: 0.5rem;
}
body main #statistics #container_statistics aside select option {
  background-color: var(--primary-color);
  color: hsl(142deg, 10%, 75%);
}
body main #statistics #container_statistics aside select option:hover {
  background-color: var(--tertiary-color);
  color: black;
}
body main #statistics #container_statistics aside select:hover {
  background-color: var(--tertiary-color);
  color: hsl(142deg, 10%, 75%);
}
body main #statistics #container_statistics aside ul {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
body main #statistics #container_statistics aside ul li {
  color: hsl(142deg, 10%, 75%);
  font-size: 1.5rem;
}
body main #statistics #container_statistics aside ul li:hover {
  color: var(--secondary-color);
}
body main #statistics #container_statistics aside ul .selected {
  font-weight: bold;
  color: var(--secondary-color);
}
body main #statistics #container_statistics aside ul hr {
  height: 0.15rem;
  background-color: hsl(142deg, 10%, 75%);
  border: none;
}
body main #statistics #container_statistics #container_charts {
  width: 75%;
  padding-right: 2rem;
}
body main #statistics #container_statistics #container_charts #ul_period {
  display: flex;
  justify-content: space-between;
}
body main #statistics #container_statistics #container_charts #ul_period li {
  font-size: 1.2rem;
  text-decoration: underline;
}
body main #statistics #container_statistics #container_charts .stats {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  height: 57vh;
  background-color: var(--primary-color);
  border-radius: 2rem;
  box-shadow: 0rem 0rem 2rem 0px black;
}
body main #statistics #container_statistics #container_charts .stats canvas {
  height: 100%;
  width: 100%;
}
body main #statistics #container_statistics #container_charts .stats h2 {
  color: hsl(142deg, 10%, 75%);
  font-size: 2rem;
  margin-bottom: 1rem;
}
body main #statistics #container_statistics #container_charts #category_chart {
  position: relative;
}
body main #statistics #container_statistics #container_charts #category_chart #bar-chart-container {
  height: 90%;
  width: 100%;
}
body main #statistics #container_statistics #container_charts #category_chart #bar-chart-container .spinner-wave-in {
  margin: 0 auto;
  margin-top: 22vh;
}
body main #statistics #container_statistics #container_charts #category_chart .material-icons {
  color: hsl(142deg, 10%, 75%);
  position: absolute;
  top: 2rem;
  right: 2rem;
}
body main #statistics #container_statistics #container_charts #types_chart {
  margin-top: 2rem;
}
body main #statistics #container_statistics #container_charts #types_chart #dome-choice {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 33%;
  grid-template: "dome title search" "stat stat suggestions";
  grid-template-rows: 10% 90%;
}
body main #statistics #container_statistics #container_charts #types_chart #dome-choice h3 {
  grid-area: dome;
  text-align: left;
  padding-left: 1rem;
  font-size: 1.5rem;
  color: hsl(142deg, 10%, 75%);
}
body main #statistics #container_statistics #container_charts #types_chart #dome-choice h2 {
  grid-area: title;
  text-align: left;
}
body main #statistics #container_statistics #container_charts #types_chart #dome-choice #searchbar {
  grid-area: search;
  text-align: right;
  line-height: 2rem;
  height: 2rem;
  margin-left: 2rem;
  background-color: var(--secondary-color);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}
body main #statistics #container_statistics #container_charts #types_chart #dome-choice #searchbar input {
  width: 50%;
  font-size: 1.2rem;
  padding-left: 1rem;
  vertical-align: center;
  background-color: var(--secondary-color);
  border-radius: 2rem;
}
body main #statistics #container_statistics #container_charts #types_chart #dome-choice #searchbar input::placeholder, body main #statistics #container_statistics #container_charts #types_chart #dome-choice #searchbar input:focus {
  outline: none;
  color: hsl(142deg, 10%, 75%);
}
body main #statistics #container_statistics #container_charts #types_chart #dome-choice #searchbar button {
  color: hsl(142deg, 10%, 75%);
  margin-right: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 2rem;
}
body main #statistics #container_statistics #container_charts #types_chart #dome-choice #searchbar button .search {
  font-size: 2rem;
  color: hsl(142deg, 10%, 75%);
}
body main #statistics #container_statistics #container_charts #types_chart #pie-chart-container {
  grid-area: stat;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
body main #statistics #container_statistics #container_charts #types_chart #pie-chart-container .spinner-wave-in {
  margin: 20vh auto 0;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions {
  grid-area: suggestions;
  margin: 0rem 0 2rem 2rem;
  padding: 0rem 0;
  background-color: transparent;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(1) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 0.1s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(2) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 0.2s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(3) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 0.3s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(4) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 0.4s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(5) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 0.5s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(6) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 0.6s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(7) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 0.7s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(8) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 0.8s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(9) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 0.9s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(10) {
  animation: slidein 0.3s ease 1 both;
  animation-delay: 1s;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li {
  margin: 1rem auto;
  border-radius: 0.5rem;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li p {
  width: max-content;
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0 auto;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:hover {
  font-weight: bold;
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(odd) {
  background-color: var(--secondary-color);
}
body main #statistics #container_statistics #container_charts #types_chart #suggestions li:nth-child(even) {
  background-color: lightgray;
}

/*# sourceMappingURL=statistics.css.map */
